.fourside{
    position: relative;
    left: 20px;
    bottom: 4px;
}
@media screen and (min-width: 320px) and (max-width:1350px) {
    .fourside{
        /* position: relative; */
        left: 57px;
    }
}
.Squareconf{
    /* height: 650px; */
    /* width: 100%;
    background-color: rgb(36, 9, 36);
    background-image: url(../BS__PROJECT/images/photo-09.jpg);
    background-size: cover;
    background-position: center; */
}
.ChesterMorgan img{
    height: 100%;
    width: 100%;
}
.pawan img{
    height: 40px;
    width: 100px;
}
.Ourstudio{
    background-image:url(images/photo-78.jpg);
    background-position: center;
    background-size: cover;
}
/* <!-- ---------------------2nd---last-----footer--------------------------------------- --> */
.last2ndfooter{
    background-color: #232323;
    }
.foursid img{
height: 50px;
width: 130px;
}
    /* <!-- ----------------------------------------footer------------------------------------ --> */
    footer{
     padding: 10px;
        background-color: #232323;
    }